// variables
$grey-1: #777;
$grey-2: #dee2e6;
$grey-3: #f5f5fa;

$small-table-row-height: 35px;

// mixins
@mixin center-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

// top level elements
html, body {
  font-size: 12px;
}

.table {
  &.table-sm {
    tr {
      height: $small-table-row-height;
    }
  }

  tr th {
    color: $grey-1;
  }
}

