@import "base";

.chart-container {
  position: relative;

  .background {
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background: $grey-3;
    clear: both;
    overflow-x: clip;
    white-space: nowrap;

    .column {
      display: inline-block;
      height: 100%;
      position: relative;

      .duration-title {
        position: absolute;
        display: block;
        top: 13px;
        white-space: nowrap;
        font-weight: bold;
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}
