@import "base";


.gantt-task-container {
  vertical-align: middle !important;
  padding-left: 0px !important;

  .gantt-task {
    height: 15px;
    cursor: grab;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(10, 10, 100, 0.1);
  }
}
